/*=======================
 * CUSTOM PROPERTIES
 *========================**/

:root {
  /*colors */
  --clr-black: 0 0% 7%;
  --clr-dark-blue: 219 29% 14%;
  --clr-white: 0 0% 100%;

  --clr-grey-100: 214 17% 92%;
  --clr-grey-200: 0 0% 81%;
  --clr-grey-400: 224 10% 45%;
  --clr-grey-500: 217 19% 35%;

  --clr-purple-50: 260 100% 95%;
  --clr-purple-300: 264 82% 70%;
  --clr-purple-500: 263 55% 52%;

  /* font-family */
  --ff-sans-semi-cond: "Barlow Semi Condensed", sans-serif;

  /* font size */
  --fs-500: 1.25rem; /*20px*/
  --fs-200: 0.8125rem; /*13px*/
  --fs-100: 0.6875rem; /*11px*/
}

/*=======================
 * RESET
 * ref: https://www.joshwcomeau.com/css/custom-css-reset/
 *========================**/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-sans-semi-cond);
  font-size: var(--fs-200);
  color: hsl(var(--clr-grey-400));
  font-weight: 500;

  /* improve text rendering on mac */
  -webkit-font-smoothing: antialiased;

  background-color: hsl(300, 5%, 96%);
  line-height: 1.4;
}

img {
  /* https://www.youtube.com/watch?v=345V2MU3E_w */
  font-style: italic;

  display: block;
  max-width: 100%;
  height: auto;
}

p {
  overflow-wrap: break-word;
}
