/*=======================
 * CUSTOM PROPERTIES
 *========================**/

:root {
  /*colors */
  --clr-black: 0 0% 7%;
  --clr-dark-blue: 219 29% 14%;
  --clr-white: 0 0% 100%;

  --clr-grey-100: 214 17% 92%;
  --clr-grey-200: 0 0% 81%;
  --clr-grey-400: 224 10% 45%;
  --clr-grey-500: 217 19% 35%;

  --clr-purple-50: 260 100% 95%;
  --clr-purple-300: 264 82% 70%;
  --clr-purple-500: 263 55% 52%;

  /* font-family */
  --ff-sans-semi-cond: "Barlow Semi Condensed", sans-serif;

  /* font size */
  --fs-500: 1.25rem; /*20px*/
  --fs-200: 0.8125rem; /*13px*/
  --fs-100: 0.6875rem; /*11px*/
}

/*=======================
 * RESET
 * ref: https://www.joshwcomeau.com/css/custom-css-reset/
 *========================**/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-sans-semi-cond);
  font-size: var(--fs-200);
  color: hsl(var(--clr-grey-400));
  font-weight: 500;

  /* improve text rendering on mac */
  -webkit-font-smoothing: antialiased;

  background-color: hsl(300, 5%, 96%);
  line-height: 1.4;
}

img {
  /* https://www.youtube.com/watch?v=345V2MU3E_w */
  font-style: italic;

  display: block;
  max-width: 100%;
  height: auto;
}

p {
  overflow-wrap: break-word;
}

/*=======================
 * COMPONENTS
 *========================**/
.testimonial-grid {
  display: grid;
  width: min(90%, 70rem);
  gap: 1.5rem;
  margin-block: 4.25rem;
  margin-inline: auto;
}

.testimonial-card {
  display: grid;
  row-gap: 1rem;
  padding: 2rem;

  border-radius: 0.5rem;
}

.testimonial-card:nth-of-type(1) {
  background-color: hsl(var(--clr-purple-500));
}
.testimonial-card:nth-of-type(2) {
  background-color: hsl(var(--clr-grey-500));
}
.testimonial-card:nth-of-type(3) {
  background-color: hsl(var(--clr-white));
}

.testimonial-card:nth-of-type(4) {
  background-color: hsl(var(--clr-dark-blue));
}

.testimonial-card:nth-of-type(5) {
  background-color: hsl(var(--clr-white));
}

/* [1] card's children */
/* author infos */
.author-info {
  display: flex;
  gap: 1rem;
}

figure {
  display: flex;
  align-self: flex-end;
}

figure img {
  box-shadow: 0 0 0 2px white;
  border-radius: 50%;
  height: 28px;
  width: 28px;
}

.author-name {
  font-size: var(--fs-200);
  font-weight: 500;
}
.author-status {
  font-size: var(--fs-100);
}

/* author testimonial texts */
blockquote {
  display: grid;
  row-gap: 1rem;
}

.testimonial-highlight {
  font-size: var(--fs-500);
  font-weight: 600;
  line-height: 1.2;
}
